.btn-logout {
  font-size: 1rem;
  align-tracks: flex-end;
  align-self: center;
  padding: 0.5rem 1.8rem;
  background: #a3bcb6;
  color: white;
  border: none;
  outline: none;
  cursor: pointer;
  margin: 2rem;
}

.btn-logout:hover {
  background: rgb(220, 218, 218);
  color: #2c3f3f;
}

.pic {
  width: 4.5rem;
  height: 4.5rem;
}
