.card {
    box-sizing: border-box;
    width: 80%;
    max-width: 800px;
    margin: 4rem auto;
    height: 100%;
}

.profile-card {
    height: 100%;
}

.btn {
    width: 80%;
    max-width: 800px;
    margin: 4rem auto;
}